.before-after {
    .before-after-img {
        border: 2px solid $dark-blue; 
        border-radius: 4rem;
        box-shadow: 5px 6px 8px #ccc;
        color: $light-blue;
        height: 45rem;
        width: 36rem;
        background-size: cover;
        background-position: center;
        margin: 6rem 3rem 1rem;
    }
    .img-text {
        font-size: $font-large;
        margin: 0 3rem 3rem;
    }
    .label {
        font-size: $font-large;
        position: absolute;
        bottom: -5rem;
        left: 50%;
        transform: translateX(-50%);
    }
}
@media( max-width: 1500px ){
    .before-after {
        .before-after-img {
            height: 33.75rem;
            width: 27rem;
            
        }
    }
}
