section {
    h2 { 
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: $font-x-large; 
    }
    .heading {
        font-size: $font-large;
        margin: 2rem 0;
    }
}