.price-list {
    padding: 3rem 0;
    color: $light-blue;
    h2 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: $font-large;
        margin-bottom: 3rem;
    }
    table {
        font-size: $font-medium;
    }
    td {
        padding: 0 2rem;
    }
    .last {
        text-align: right;
    }
}

@media( max-width: 450px) {
    .price-list {
        h2 {
            font-size: $font-medium;
        }
        table {
            font-size: $font-small;
        }
        td {
            padding: 0 1rem;
        }
    }
}