

.App {
  text-align: center;
}


.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}

.App-link {
  color: #61dafb;
}

@import './Views/Main';
@import './Abstracts/Variables';

// Components

@import './Components//Header';